@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ow-primary: #3E95B0;
  --ow-primary-dark: #255664;
  --ow-dark: #232323;
  --background: #ffffff;
  --foreground: #232323;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
